<div class="row">
    <div class="col-md-8 mr-auto ml-auto">
        <h3 class="title">Customer Analysis</h3>
        <h4 class="description">This is the paragraph where you can write more details about your product. Keep you
            user engaged by providing meaningful information. Remember that by this time, the user is curious,
            otherwise he wouldn't scroll to get here. Add a button if you want the user to see more.</h4>
        <br>
        <a href="#paper-kit" class="btn btn-danger btn-round">See Details</a>
    </div>
</div>
<br /><br />
<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6 mr-auto ml-auto">
        <app-stats-box [heading]="max" description="" value="2,13,900 Inr" name="Mago General"></app-stats-box>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 mr-auto ml-auto">
        <app-stats-box heading="Max Debit" description="" value="3,13,950 Inr" name="Manpasand Kirana"></app-stats-box>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 mr-auto ml-auto">
        <app-stats-box heading="Max Debit" description="" value="3,13,950 Inr" name="Manpasand Kirana"></app-stats-box>
    </div>

</div>